.trade_container {
    display: grid;
    grid-template-rows: 650px 1fr;
  }
  
  .create_order_container {
    grid-row: 1;
  }
  
  .instruments_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  
  .choose_instrument_container {
    grid-column: 1;
  }
  
  .choose_leverage_container {
    padding: 10px;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .choose_value_container {
    grid-column: 2;
  }
  
  .choose_TPSL_container {
    grid-column: 3;
  }